@import url('https://fonts.googleapis.com/css2?family=Anton&family=Merriweather:wght@300&display=swap');

.item__detail {
    margin: 40px auto;
    width: 80%;
    display: flex;
    background-color: transparent;
    text-align: left;
    border: 2px solid white;
}

.detail__photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.2);
}

.detail__photo img {
    width: 240px;
    margin: 10px 20px;
    border: 2px solid white;
    box-shadow: 8px -8px 1px rgba(250, 250, 250, 0.2);
}

.photo__favourite {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.favourite__add {
    padding: 5px;
    font-size: 18px;
    font-weight: 450;
    margin: 0px;
    border-radius: 5px;
    border: 1px solid red;
    color: white;
    background-color: black;
}

.favourite__added {
    padding: 5px 15px;
    color: white;
    font-size: 18px;
    font-weight: 450;
    margin: 0px;
    border: 1px solid #63b231;
    border-left: none;
    border-radius: 5px;
    background: linear-gradient(279deg, rgba(59,140,8,0.8) 0%, rgba(99,178,49,0.8) 49%, rgba(59,140,8,0.8) 82%)
}

.favourite__icon {
    cursor: pointer;
    padding: 5px;
    font-size: 32px;
    margin-bottom: 1px;
    color: white;
    border-radius: 5px;
    border: 1px solid red;
    background: rgb(210,20,20);
    background: linear-gradient(279deg, rgba(210,20,20,1) 0%, rgba(255,0,12,1) 49%, rgba(210,20,20,1) 82%);
    box-shadow: 0px 0px 5px black;
}

.favourites__link {
    text-decoration: none
}

.detail__info {
    color: white;
    border-left: 2px solid white;
}

.d-info__name, .d-info__author {
    margin: 10px 0px;
    margin-left: 20px;
    color: black;
    background-color: white;
}

.d-info__name {
    margin-top: 10px;
    padding: 2px 10px;
    color: black;
    font-size: 35px;
    letter-spacing: 2px;
    font-family: 'Anton', sans-serif;
    background-color: white;
    box-shadow: -7px 5px 1px rgba(250, 250, 250, 0.3);
}

.d-info__author {
    padding: 0px 30px;
    color: black;
    font-family: 'Merriweather', serif;
    background-color: white
}

.d-info__tags {
    margin: 15px 0px;
    margin-left: 20px;
}

.d-info__tags a {
    text-decoration: none;
    color: inherit;
}

.d-info__synopsis {
    text-align: justify;
    padding: 10px 20px;
    line-height: 20px;
    margin-bottom: 15px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.35);
    border-top: 1px solid white;
    border-bottom: 1px solid white
} 

.d-info__synopsis .parr:nth-of-type(1)  {
    margin: 0px;
}

.d-info__synopsis .parr {
    display: block;
    margin-top: 10px
}

.d-info__tags span {
    margin: 0px 5px;
    padding: 1px 5px;
    background-color: rgba(128, 128, 128, 0.7);
    background-color: rgba(255, 0, 0, 0.5);
    background-color: rgba(99, 178, 49, 0.7);
    border-radius: 8px;
    border: 1px solid rgba(255, 69, 0, 0.6);
    border: 1px solid #63b231;
}

.detail__footer {
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
}

.detail__f-tecnica {
    padding-top: 0px;
    width: 50%;
    margin-left: 20px;
    display: inline-block;
    color: white;
}

.detail__f-tecnica h3 {
    padding: 5px 10px;
    margin: 0px 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
    background-color: white;
    color: black;
    box-shadow: -5px 5px 1px rgba(250, 250, 250, 0.3);

}

.detail__f-tecnica p {
    margin: 10px 0px;
    padding: 1px 10px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);
    border-left: 2px solid #63b231;
}

.detail__itemcounter {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
}

.itemcounter__price {
    margin-top: 10px;
    padding: 2px 20px;
    font-size: 18px;
    background-color: black;
    border: 1px solid #63b231;
    border-radius: 2px;
    box-shadow: 0px 0px 3px #63b231 inset;
}

.price__tag {
    padding-left: 8px;
}

@media screen and (max-width: 767px) {
    .item__detail {
        width: 90%;
    }
    .item__detail, .detail__footer {
        flex-direction: column;
    }
    .detail__photo {
        padding-bottom: 20px;
    }
    .detail__photo img {
        box-shadow: 8px 8px 1px rgb(250 250 250 / 20%);
        margin-bottom: 20px;
    }
    .detail__info {
        border-left: none;
    }
    .d-info__name, .d-info__author {
        margin: 10px 14px;
    }
    .d-info__tags {
        line-height: 27px;
        word-break: break-word;
    }
    .detail__f-tecnica {
        width: 90%;
    }
    .detail__itemcounter {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .item__detail {
        width: 95%;
    }
    .d-info__name {
        font-size: 28px
    }
    .d-info__author {
        padding: 0px 15px;
    }
    
    .d-info__tags span {
        display: block;
        width: 70%;
        padding: 0px 5px;
        margin: 3px 0px;
    }
    .detail__f-tecnica {
        width: 85%;
    }
    .itemcounter__price {
        padding: 2px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .item__detail {
        width: 90%
    }
    .d-info__author {
        padding: 0px 10px;
    }
    .d-info__tags {
        line-height: 25px;
    }
    .detail__footer {
        flex-direction: column;
    }
    .detail__f-tecnica {
        width: 92%;
        margin-bottom: 5px;
    }
    .detail__itemcounter {
        width: 100%;
        align-self: center;
    }
    .itemcounter__price {
        margin: 10px 5px 0px 5px;
        padding: 2px 5px
    }
    .price__tag {
        padding-left: 8px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .item__detail {
        width: 90%
    }
}

