@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

*:focus {
    outline: none;
}

.item-counter {
    width: 85%;
    margin: 15px;
    padding: 10px;
    color: white;
    font-size: 20px;
    border: 1px solid white;
    border-left: 3px solid red;
    border-right: 3px solid red;
    border-radius: 3px;
    box-shadow: 0px 0px 2px silver;
    background-color: rgba(0, 0, 0, 0.2);
}

.counter-controls {
    display: flex;
    justify-content: space-between;
    height: 30px;
    border: 1px solid white;
    margin-bottom: 10px;
}

.button {
    padding: 0px;
    padding-bottom: 5px;
    margin: 0px;
    background-color: white;
    border: none;
}

.plus-icon, .minus-icon {
    padding: 0px;
    padding-bottom: 2px;
    margin: 0px;
    font-size: 30px;
    color: #63b231;
}

.button:disabled .plus-icon, 
.button:disabled .minus-icon {
    color: gray
}

.counter {
    padding: 3px
}

.add-item {
    cursor: pointer;
    width: 100%;
    padding: 3px;
    font-size: 17px;
    color: white;
    background-color: black;
    border: 2px outset white;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
}

.add-item:disabled {
    cursor: not-allowed;
    background-color: gray;
    border: 2px solid whitesmoke;
}

.add-item:disabled .cart-icon {
    color: white;
}

.cart-icon {
    margin-left: 3px;
    margin-bottom: -2px;
    color: #63b231;
    animation: move 1s ease-out infinite
}

@keyframes move {
    0% { transform: translateX(0%)}
    50% { transform: translateX(20%)}
    100% { transform: translateX(0%)}
}

@media screen and (min-width: 490px) and (max-width: 1023px) {
    .item-counter {
        width: 65%
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .item-counter {
        width: 65%;
    }
}