.not__found {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not__found  h1 {
    color: white;
}

.not__found img {
    width: 30%
}

@media screen and (max-width: 767px) {
    .not__found  h1 {
        font-size: 25px;
    }
    .not__found img {
        width: 250px
    }
}